<section class="single-post">
    <div class="post-title">
        <h2>{{post.title}}</h2>
    </div>
    <div class="post-info">
        <div class="post-comment">
            <p>{{post.text}}</p>
        </div>
        <div>
            <p class="created-post">Created by: {{user.username}} on {{format_date post.created_at}}</p>
        </div>
    </div>
    {{#if loggedIn}}
    <form class="comment_form">
        <div>
            <textarea placeholder="Type your comment here!" name="comment-body"></textarea>
        </div>
        <div>
            <button class="commentBtn" type="submit">Post a Comment</button>
        </div>
    </form>
    {{/if}}
    <div>
        <h3>Comments:</h3>
        <div class="comment-info">
            {{#each post.comments}}
            <section class="comment">
                <div class="post-comment">
                    {{comment_text}}
                </div>
                <div>
                    <p class="post-created">
                        Created by {{user.username}} on {{format_date created_at}}
                    </p>
                </div>
            </section>
            {{/each}}
        </div>
    </div>
</section>
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}